<%= form_for(@comm_method) do |f| %>
  <% if @comm_method.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comm_method.errors.count, "error") %> prohibited this comm_method from being saved:</h2>

      <ul>
      <% @comm_method.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :method_type %><br />
    <%= f.text_field :method_type %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :frequency %><br />
    <%= f.text_field :frequency %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
