<h1>Listing users</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Password</th>
    <th>Class of</th>
    <th>Is admin</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.sort! {| a,b | a.class_of <=> b.class_of }.reverse %>
<% @users.sort! {| a,b | a.name <=> b.name } %>
<% @users.each do |user| %>

  <tr>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td><%= user.password %></td>
    <td><%= user.class_of %></td>
    <td><%= user.is_admin %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
